@use "../foundation/variable" as g;

.p-comapny--order1 {
  order: 1;
}

.p-comapny--order2 {
  order: 2;
}

.p-company--backGray {
  background: g.$palette-background-gray;
}

.p-company--white {
  color: g.$palette-white;
}

.p-company--left {
  padding-left: 30px;
}

.p-company--right {
  padding-right: 30px;
}

.p-comapany__catch--middle {
  margin-left: -200px !important;
  color: g.$palette-background-gray;
}

.p-company {
  position: relative;
  padding: 80px 100px;
}

.p-company__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.p-company__contentBox {
  width: 50%;
}

.p-company__content {
  color: g.$palette-primary;
}

.p-company__title {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
}

.p-company__catch {
  position: absolute;
  margin-left: 200px;
  bottom: -137px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 160px;
  letter-spacing: 0.06rem;
  vertical-align: bottom;
}

.p-company__imageArea {
  position: static;
  width: 50%;
  order: 1;
}

.p-comapany__image {
  img {
    width: 100%;
  }
}

.p-company__table {
  padding: 80px 0;
}

.p-company__tableInner {
  width: 100%;

  th, td {
    border: 1px solid #ccc;
  }

  th {
    width: 40%;
    padding: 10px 15px;
    background-color: g.$palette-background-gray;
    text-align: left;
    font-weight: normal;
  }

  td {
    width: 60%;
    padding: 10px 15px;
  }
}