@use "../foundation/variable" as g;

.c-button__primary {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  background: g.$palette-primary;
  color: g.$palette-white;
  line-height: 50px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border-radius: 40px;
}

.c-button__secondary {
  display: block;
  width: 100%;
  height: 50px;
  color: g.$palette-primary;
  line-height: 50px;
  background: transparent;
  border: 1px solid g.$palette-primary;
  border-radius: 40px;
}