@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

.c-button__primary {
  @include m.button(g.$palette-white, g.$palette-primary);
  position: relative;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.c-button__secondary {
  @include m.button(g.$palette-primary, transparent, 1px solid g.$palette-primary);
}

.c-button__thirdly {
  @include m.button(g.$palette-gray, g.$palette-white, 1px solid g.$palette-gray);
}