@use "../foundation/variable" as g;

.c-title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.c-subTitle {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 700;
  color: g.$palette-primary;
}